certifi==2019.6.16
chardet==3.0.4
Click==7.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.22
Flask==1.0.2
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
get==2019.4.13
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
post==2019.4.13
psycopg2==2.8.3
public==2019.4.13
pygame==1.9.5
PygameGUILib==0.4a6
PyGameUtilities==0.26
pyTelegramBotAPI==3.6.6
pytz==2019.1
query-string==2019.4.13
request==2019.4.13
requests==2.7.0
six==1.12.0
SQLAlchemy==1.3.3
sqlparse==0.3.0
static3==0.7.0
telebot==0.0.3
telegram==0.0.1
urllib3==1.25.3
Werkzeug==0.15.2
WTForms==2.2.1
